@import "~sass/variables";

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("/assets/nat-4.jpg");
  background-size: cover;
  margin-top: -10rem;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  .rows {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    justify-content: space-evenly;
    grid-gap: 6rem;
  }
}
